<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <p class="secret-red">Something went wrong</p>
    <hr>
    
    <a class="btn btn-success btn-lg" href="/login" role="button">Login</a>
    <a class="btn btn-black btn-lg" href="/register" role="button">Register</a>
  </div>
</div>

<%- include('partials/footer') %>
